@model Template.Web.Models.Account.Email.Callback
@{
    Layout = "~/Views/Email/_EmailLayout.cshtml";
}

You have requested to reset your account password.
<p class="mt-4 mb-4">
    <a class="btn btn-blue" href="@Model.CallbackUrl">Reset your password</a>
</p>

Feel free to delete this email if you did not request to reset your password.